# IDE
.idea/
.vscode/

# Python
__pycache__/
*.pyc
*.pyo

# Env
.env
*.env

# Big model (DO NOT COMMIT)
backend/models/ml_model.pkl

# Data (COMMIT this folder)
# backend/models/data/

# Reports runs (keep only final summary if you want)
backend/models/reports/runs/
